{% extends 'base_content.html' %}
{% block content %}
<div class="split lefttt">
  <div class="row h-100">
  <div class="col-sm-12 my-auto">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <td><h1>Banks</h1></td>
            <td class="align-middle">
              <span class="float-end">
                {% if bank == None %}
                <a href="{% url 'new_bank' %}" class="btn btn-primary">Create Bank</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'log_out' %}">Log out</a>
              </span>
            </td>
          </tr>
          {% for bank in banks %}
            <tr>
              <td class="align-middle">
                <b>{{ bank.name }}</b>
              </td>
              <td class="align-middle">
                <span class="float-end">
                  <b>{{ bank.fullName }}</b>
                </span>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<div class="split right">
  {% if bank != None %}
  {% if bank.year < 6 %}
  <form method="post" action="{% url 'new_year' %}">
    {% csrf_token %}
    <table>
      <thead>
        <th>Banking Wars</th>
        <th colspan="2" id="currentYear" hidden="true">Year {{ bank.year }}</th>
        <th colspan="2" id="nextYear">Year </th>
          <span class="float-end">
            {% if bank.year > 0 %}
            <a href="{% url 'previous_year' %}" class="btn btn-primary">Previous Year</a>
            {% endif %}
            {% if bank.year == 5 %}
            <input class="btn btn-primary" value="Finish" type="submit">
            {% else %}
            <input class="btn btn-primary" value="Next Year" type="submit">
            {% endif %}
          </span>
      </thead>
      <tbody>
        <tr>
          <th>{{ bank.name }}</th>
          <td hidden="true">Assets</td>
          <td hidden="true">Liabilities</td>
          <td>Assets</td>
          <td>Liabilities</td>
        </tr>
        <tr>
          <td>Required reserves</td>
          <td id="B4" hidden="true">9.0</td>
          <td hidden="true"></td>
          <td id="D4"></td>
          <td></td>
        </tr>
        <tr>
          <td>Free reserves</td>
          <td id="B5" hidden="true">81.0</td>
          <td hidden="true"></td>
          <td id="D5"></td>
          <td></td>
        </tr>
        <tr>
          <td>Required Capital</td>
          <td hidden="true"></td>
          <td id="C6" hidden="true">5.0</td>
          <td></td>
          <td id="E6">5.0</td>
        </tr>
        <tr>
          <td>Free capital</td>
          <td hidden="true"></td>
          <td id="C7" hidden="true">5.0</td>
          <td></td>
          <td id="E7">5.0</td>
        </tr>
        <tr>
         <td colspan="3">The environment you are in:</td>
        </tr>
        <tr>
          <th>Assets available</th>
          <th hidden="true">Return</th>
          <th hidden="true">Cost</th>
          <th>Return</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td>Cash reserves</td>
        </tr>
        <tr>
          <td>- Return</td>
          <td id="B30" hidden="true">1.00%</td>
          <td hidden="true"></td>
          <td id="D30">1.00%</td>
        </tr>
        <tr>
          <td>- Risk weighting</td>
          <td id="B31" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D31">0.00%</td>
        </tr>
        <tr>
          <td>- Loss provisions</td>
          <td id="B32" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D32">0.00%</td>
        </tr>
        <tr>
          <td>Interbank loans</td>
        </tr>
        <tr>
          <td>- Return</td>
          <td id="B35" hidden="true">2.00%</td>
          <td hidden="true"></td>
          <td id="D35">2.00%</td>
        </tr>
        <tr>
          <td>- Risk weighting</td>
          <td id="B36" hidden="true">10.00%</td>
          <td hidden="true"></td>
          <td id="D36">10.00%</td>
        </tr>
        <tr>
          <td>- Loss provisions</td>
          <td id="B37" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D37">0.00%</td>
        </tr>
        <tr>
          <td>Mortgages</td>
        </tr>
        <tr>
          <td>- Return</td>
          <td id="B40" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D40">5.00%</td>
        </tr>
        <tr>
          <td>- Risk weighting</td>
          <td id="B41" hidden="true">75.00%</td>
          <td hidden="true"></td>
          <td id="D41">75.00%</td>
        </tr>
        <tr>
          <td>- Loss provisions</td>
          <td id="B42" hidden="true">1.00%</td>
          <td hidden="true"></td>
          <td id="D42">1.00%</td>
        </tr>
        <tr>
          <td>Non-financial assets</td>
        </tr>
        <tr>
          <td>- Return</td>
          <td id="B45" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D45">0.00%</td>
        </tr>
        <tr>
          <td>- Risk weighting</td>
          <td id="B46" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D46">0.00%</td>
        </tr>
        <tr>
          <td>- Loss provisions</td>
          <td id="B47" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D47">0.00%</td>
        </tr>
        <tr>
          <th>Liabilities available</th>
        </tr>
        <tr>
          <td>Deposits</td>
        </tr>
        <tr>
          <td>- Cost</td>
          <td hidden="true"></td>
          <td id="C51" hidden="true">1.00%</td>
          <td></td>
          <td id="E51">1.00%</td>
        </tr>
        <tr>
          <td>Interbank</td>
        </tr>
        <tr>
          <td>- Cost</td>
          <td hidden="true"></td>
          <td id="C54" hidden="true">2.00%</td>
          <td></td>
          <td id="E54">2.00%</td>
        </tr>
        <tr>
          <td>Shareholders' equity capital</td>
        </tr>
        <tr>
          <td>- Cost</td>
          <td hidden="true"></td>
          <td id="C57" hidden="true">15.00%</td>
          <td></td>
          <td id="E57">15.00%</td>
        </tr>
        <tr>
          <th>Conditions:</th>
        </tr>
        <tr>
          <td>Required capital/assets</td>
        </tr>
        <tr>
          <td>- Total assets %</td>
          <td id="B61" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D61">5.00%</td>
        </tr>
        <tr>
          <td>- Risk weighted assets %</td>
          <td id="B62" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D62">5.00%</td>
        </tr>
        <tr>
          <td>Required cash reserves/deposits %</td>
          <td id="B64" hidden="true">10.00%</td>
          <td hidden="true"></td>
          <td id="D64">10.00%</td>
        </tr>
        <tr>
          <td>Required cash reserves/interbank %</td>
          <td id="B65" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D65">5.00%</td>
        </tr>
        <tr>
          <td>Other income/expenses</td>
        </tr>
        <tr>
          <td>Fee income/assets</td>
          <td id="B67" hidden="true">1.50%</td>
          <td hidden="true"></td>
          <td id="D67">1.50%</td>
        </tr>
        <tr>
          <td>Operating expanses/assets</td>
          <td id="B69" hidden="true">1.30%</td>
          <td hidden="true"></td>
          <td id="D69">1.30%</td>
        </tr>
        <tr>
          <td>Tax rate on profits</td>
          <td id="B71" hidden="true">25.00%</td>
          <td hidden="true"></td>
          <td id="D71">25.00%</td>
        </tr>
        <tr>
          <th>{{ bank.name }}</th>
          <th colspan="2" hidden="true">Year {{ bank.year }}</th>
          <th colspan="2" id="nextYear2">Year </th>
        </tr>
        <tr>
          <th>Balance Sheet</th>
          <th hidden="true">Assets</th>
          <th hidden="true">Liabilities</th>
          <th>Assets</th>
          <th>Liabilities</th>
        </tr>
        <tr>
          <td>Cash reserves</td>
          <td id="B75" hidden="true">{{ bank.b75 }}</td>
          <td hidden="true"></td>
          {% if prev != None %}
          <td><input id="D75" name="d75" value="{{ prev.d75 }}" class="input"></td>
          {% else %}
          <td><input id="D75" name="d75" value="90.0" class="input"></td>
          {% endif %}
          <td></td>
        </tr>
        <tr>
          <td>Interbank loans</td>
          <td id="B76" hidden="true">{{ bank.b76 }}</td>
          <td hidden="true"></td>
          {% if prev != None %}
          <td><input id="D76" name="d76" value="{{ prev.d76 }}" class="input"></td>
          {% else %}
          <td><input id="D76" name="d76" value="90.0" class="input"></td>
          {% endif %}
          <td></td>
        </tr>
        <tr>
          <td>Mortgages</td>
          <td id="B77" hidden="true">{{ bank.b77 }}</td>
          <td hidden="true"></td>
          {% if prev != None %}
          <td><input id="D77" name="d77" value="{{ prev.d77 }}" class="input"></td>
          {% else %}
          <td><input id="D77" name="d77" value="90.0" class="input"></td>
          {% endif %}
          <td></td>
        </tr>
        <tr>
          <td>Non-financial assets</td>
          <td id="B78" hidden="true">{{ bank.b78 }}</td>
          <td hidden="true"></td>
          <td><input id="D78" class="asd" name="d78" value="90.0" readonly="true"></td>
          <td></td>
        </tr>
        <tr>
          <td>Total</td>
          <td id="B79" hidden="true">100.0</td>
          <td hidden="true"></td>
          <td id="D79">100.0</td>
          <td></td>
        </tr>
        <tr>
          <th>Minimum required reserves</th>
          <td id="B81" hidden="true">9.0</td>
          <td hidden="true"></td>
          <td id="D81"></td>
          <td></td>
        </tr>
        <tr>
          <th>Excess/free reserves</th>
          <td id="B82" hidden="true">81.0</td>
          <td hidden="true"></td>
          <td id="D82">90.0</td>
          <td></td>
        </tr>
        <tr>
          <td>Deposits</td>
          <td hidden="true"></td>
          <td id="C84" hidden="true">{{ bank.c84 }}</td>
          <td></td>
          {% if prev != None %}
          <td><input id="E84" name="e84" value="{{ prev.e84 }}" class="input"></td>
          {% else %}
          <td><input id="E84" name="e84" value="90.0" class="input"></td>
          {% endif %}
        </tr>
        <tr>
          <td>Interbank loans</td>
          <td hidden="true"></td>
          <td id="C85" hidden="true">{{ bank.c85 }}</td>
          <td></td>
          {% if prev != None %}
          <td><input id="E85" name="e85" value="{{ prev.e85 }}" class="input"></td>
          {% else %}
          <td><input id="E85" name="e85" value="0.0" class="input"></td>
          {% endif %}
        </tr>
        <tr>
          <th>Capital</th>
        </tr>
        {% if bank.year == 0 %}
        <tr>
          <td>Initial shareholders funds</td>
          <td id="B87">10.0</td>
        </tr>
        {% endif %}
        <tr>
          <td>Start of year</td>
          <td hidden="true"></td>
          <td id="C88" hidden="true">10.0</td>
          <td></td>
          <td id="E88">10.0</td>
        </tr>
        <tr>
          <td>End of year</td>
          <td hidden="true"></td>
          <td id="C89" hidden="true">{{ bank.c89 }}</td>
          <td></td>
          <td><input id="E89" class="asd" name="e89" value="90.0" readonly="true"></td>
        </tr>
        <tr>
          <td>Shareholders</td>
          <td hidden="true"></td>
          <td id="C90" hidden="true">{{ bank.c89 }}</td>
          <td></td>
          <td id="E90">10.2</td>
        </tr>
        <tr>
          <td>Total</td>
          <td hidden="true"></td>
          <td id="C91" hidden="true">100.0</td>
          <td></td>
          <td id="E91">100.0</td>
        </tr>
        <tr>
          <th>Minimum required capital - start of year</th>
          <td hidden="true"></td>
          <td id="C93" hidden="true">5.0</td>
          <td></td>
          <td id="E93">5.0</td>
        </tr>
        <tr>
          <th>Excess/free capital</th>
          <td hidden="true"></td>
          <td id="C94" hidden="true">5.0</td>
          <td></td>
          <td id="E94">5.0</td>
        </tr>
        <tr>
          <td>Loans/deposits</td>
          <td hidden="true"></td>
          <td id="C96" hidden="true">0.00%</td>
          <td></td>
          <td id="E96">0.00%</td>
        </tr>
        <tr>
          <th>Bank Name</th>
          <th colspan="2" hidden="true">Year {{ bank.year }}</th>
          <th colspan="2" id="nextYear3">Year </th>
        </tr>
        <tr>
          <th>Income statement</th>
        </tr>
        <tr>
          <td>Interest income</td>
          <td id="B100" hidden="true">0.9</td>
          <td hidden="true"></td>
          <td id="D100">0.9</td>
          <td></td>
        </tr>
        <tr>
          <td>Interest expense</td>
          <td id="B101" hidden="true">0.9</td>
          <td hidden="true"></td>
          <td id="D101">0.9</td>
          <td></td>
        </tr>
        <tr>
          <td>Net interest income</td>
          <td id="B102" hidden="true">0.0</td>
          <td hidden="true"></td>
          <td id="D102">0.0</td>
          <td></td>
        </tr>
        <tr>
          <td>NIM</td>
          <td id="B103" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D103">0.00%</td>
          <td></td>
        </tr>
        <tr>
          <td>Fee income</td>
          <td id="B105" hidden="true">1.5</td>
          <td hidden="true"></td>
          <td id="D105">1.5</td>
          <td></td>
        </tr>
        <tr>
          <td>Operating expenses</td>
          <td id="B106" hidden="true">1.3</td>
          <td hidden="true"></td>
          <td id="D106">1.3</td>
          <td></td>
        </tr>
        <tr>
          <td>Loan loss provision</td>
          <td id="B107" hidden="true">0.0</td>
          <td hidden="true"></td>
          <td id="D107">0.0</td>
          <td></td>
        </tr>
        <tr>
          <td>Other income/(expense)</td>
          <td id="B108" hidden="true">{{ bank.b108 }}</td>
          <td hidden="true"></td>
          {% if prev != None %}
          <td><input id="D108" name="d108" value="{{ prev.d108 }}" class="input"></td>
          {% else %}
          <td><input id="D108" name="d108" value="0.0" class="input"></td>
          {% endif %}
          <td></td>
        </tr>
        <tr>
          <td>Operating income</td>
          <td id="B109" hidden="true">0.2</td>
          <td hidden="true"></td>
          <td id="D109">0.2</td>
          <td></td>
        </tr>
        <tr>
          <td>Corporation tax</td>
          <td id="B110" hidden="true">0.1</td>
          <td hidden="true"></td>
          <td id="D110">0.1</td>
          <td></td>
        </tr>
        <tr>
          <td>Net income</td>
          <td id="B111" hidden="true">{{ bank.b111 }}</td>
          <td hidden="true"></td>
          <td><input id="D111" class="asd" name="d111" value="90.0" readonly="true"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
  {% else %}
    <div class="row h-100 container text-center">
      <div class="col-sm-12 my-auto">Congrats you finished the game!
      </div>
    </div>
  {% endif %}
  {% else %}
    <div class="row h-100 container text-center">
      <div class="col-sm-12 my-auto">Please create a bank to start the game
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
