{% extends 'base_content.html' %}
{% block content %}
<div class="split lefttt">
  <div class="row h-100">
  <div class="col-sm-12 my-auto">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <td><h1>Banks</h1></td>
            <td class="align-middle">
              <span class="float-end">
                {% if bank == None %}
                <a href="{% url 'new_bank' %}" class="btn btn-primary">Create Bank</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'log_out' %}">Log out</a>
              </span>
            </td>
          </tr>
          {% for bank in banks %}
            <tr>
              <td class="align-middle">
                <b>{{ bank.name }}</b>
                {% if bank.year == 7 %}
                <p>Finished</p>
                {% else %}
                <p>Year {{ bank.year }}</p>
                {% endif %}
              </td>
              <td class="align-middle">
                <span class="float-end">
                  <b>{{ bank.fullName }}</b>
                  <p style="text-align:right">{{ bank.c89 }}</p>
                </span>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<div class="split right">
  {% if bank != None %}
  {% if bank.year < 7 %}
  <form method="post" action="{% url 'new_year' %}">
    {% csrf_token %}
    <table>
      <thead>
        <th>Banking Wars</th>
        <th colspan="2" id="currentYear">Year {{ bank.year }}</th>
        <th colspan="2" id="nextYear" hidden="true">Year </th>
          <span class="float-end">
            {% if bank.year > 0 %}
            <a href="{% url 'previous_year' %}" class="btn btn-primary">Previous Year</a>
            {% endif %}
            {% if bank.year == 6 %}
            <input class="btn btn-primary" value="Finish" type="submit">
            {% else %}
            <input class="btn btn-primary" value="Next Year" type="submit">
            {% endif %}
          </span>
      </thead>
      <tbody>
        <tr>
          <th>{{ bank.name }}</th>
          <td hidden="true">Assets</td>
          <td hidden="true">Liabilities</td>
          <td>Assets</td>
          <td>Liabilities</td>
          <td style="color:white">____________</td>
           <td colspan="3">The environment you are in:</td>
        </tr>
        <tr>
          <td>Required reserves</td>
          <td id="B4" hidden="true">9.0</td>
          <td hidden="true"></td>
          <td id="D4" class="asset"></td>
          <td></td>
          <td style="color:white">____________</td>
          <th>Assets available</th>
          <th hidden="true">Return</th>
          <th hidden="true">Cost</th>
          <th>Return</th>
          <th>Cost</th>
        </tr>
        <tr>
          <td>Free reserves</td>
          <td id="B5" hidden="true">81.0</td>
          <td hidden="true"></td>
          <td id="D5" class="asset"></td>
          <td></td>
          <td style="color:white">____________</td>
          <td>Cash reserves</td>
        </tr>
        <tr>
          <td>Required Capital</td>
          <td hidden="true"></td>
          <td id="C6" hidden="true">5.0</td>
          <td></td>
          <td id="E6" class="liability">5.0</td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Return</td>
          <td id="B30" hidden="true" class="emphasized">1.00%</td>
          <td hidden="true"></td>
          <td id="D30" class="asset emphasized">1.00%</td>
        </tr>
        <tr>
          <td>Free capital</td>
          <td hidden="true"></td>
          <td id="C7" hidden="true">5.0</td>
          <td></td>
          <td id="E7" class="liability">5.0</td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Risk weighting</td>
          <td id="B31" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D31" class="asset emphasized">0.00%</td>
        </tr>
        <tr>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Loss provisions</td>
          <td id="B32" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D32" class="asset emphasized">0.00%</td>
        </tr>
        <tr>
          <th>{{ bank.name }}</th>
          <th colspan="2">Year {{ bank.year }}</th>
          <th colspan="2" id="nextYear2" hidden="true">Year </th>
          <td style="color:white">____________</td>
          <td>Interbank loans</td>
        </tr>
        <tr>
          <th>Balance Sheet</th>
          <th hidden="true">Assets</th>
          <th hidden="true">Liabilities</th>
          <th>Assets</th>
          <th>Liabilities</th>
          <td style="color:white">____________</td>
          <td class="emphasized">- Return</td>
          <td id="B35" hidden="true">2.00%</td>
          <td hidden="true"></td>
          <td id="D35" class="asset emphasized">2.00%</td>
        </tr>
        <tr>
          <td>Cash reserves</td>
          <td id="B75" hidden="true">{{ bank.b75 }}</td>
          <td hidden="true"></td>
          {% if bank.year == 0 %}
          <td><input id="D75" name="d75" value="90.0" class="input asd" readonly="true"></td>
          {% elif prev != None %}
          <td><input id="D75" name="d75" value="{{ prev.d75 }}" class="input"></td>
          {% else %}
          <td><input id="D75" name="d75" value="89" class="input"></td>
          {% endif %}
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Risk weighting</td>
          <td id="B36" hidden="true">10.00%</td>
          <td hidden="true"></td>
          <td id="D36" class="asset emphasized">10.00%</td>
        </tr>
        <tr>
          <td>Interbank loans</td>
          <td id="B76" hidden="true">{{ bank.b76 }}</td>
          <td hidden="true"></td>
          {% if bank.year == 0 %}
          <td><input id="D76" name="d76" value="0.0" class="input asd" readonly="true"></td>
          {% elif prev != None %}
          <td><input id="D76" name="d76" value="{{ prev.d76 }}" class="input"></td>
          {% else %}
          <td><input id="D76" name="d76" value="0.0" class="input"></td>
          {% endif %}
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Loss provisions</td>
          <td id="B37" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D37" class="asset emphasized">0.00%</td>
        </tr>
        <tr>
          <td>Mortgages</td>
          <td id="B77" hidden="true">{{ bank.b77 }}</td>
          <td hidden="true"></td>
          {% if bank.year == 0 %}
          <td><input id="D77" name="d77" value="0.0" class="input asd" readonly="true"></td>
          {% elif prev != None %}
          <td><input id="D77" name="d77" value="{{ prev.d77 }}" class="input"></td>
          {% else %}
          <td><input id="D77" name="d77" value="0.0" class="input"></td>
          {% endif %}
          <td></td>
          <td style="color:white">____________</td>
          <td>Mortgages</td>
        </tr>
        <tr>
          <td>Non-financial assets</td>
          <td id="B78" hidden="true">{{ bank.b78 }}</td>
          <td hidden="true"></td>
          <td><input id="D78" class="asd asset" name="d78" value="90.0" readonly="true"></td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Return</td>
          <td id="B40" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D40" class="asset emphasized">5.00%</td>
        </tr>
        <tr>
          <td bgcolor="LemonChiffon">Total</td>
          <td id="B79" hidden="true">100.0</td>
          <td hidden="true"></td>
          <td id="D79" class="asset" bgcolor="LemonChiffon">100.0</td>
          <td bgcolor="LemonChiffon"></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Risk weighting</td>
          <td id="B41" hidden="true">75.00%</td>
          <td hidden="true"></td>
          <td id="D41" class="asset emphasized">75.00%</td>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Loss provisions</td>
          <td id="B42" hidden="true">1.00%</td>
          <td hidden="true"></td>
          <td id="D42" class="asset emphasized">1.00%</td>
        </tr>
        <tr>
          <th>Minimum required reserves</th>
          <td id="B81" hidden="true">9.0</td>
          <td hidden="true"></td>
          <td id="D81" class="asset"></td>
          <td></td>
          <td style="color:white">____________</td>
          <td>Non-financial assets</td>
        </tr>
        <tr>
          <th>Excess/free reserves</th>
          <td id="B82" hidden="true">81.0</td>
          <td hidden="true"></td>
          <td id="D82" class="asset">90.0</td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Return</td>
          <td id="B45" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D45" class="asset emphasized">0.00%</td>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Risk weighting</td>
          <td id="B46" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D46" class="asset emphasized">0.00%</td>
        </tr>
        <tr>
          <td>Deposits</td>
          <td hidden="true"></td>
          <td id="C84" hidden="true">{{ bank.c84 }}</td>
          <td></td>
          {% if bank.year == 0 %}
          <td><input id="E84" name="e84" value="90.0" class="input asd" readonly="true"></td>
          {% elif prev != None %}
          <td><input id="E84" name="e84" value="{{ prev.e84 }}" class="input"></td>
          {% else %}
          <td><input id="E84" name="e84" value="90.0" class="input"></td>
          {% endif %}
          <td style="color:white">____________</td>
          <td class="emphasized">- Loss provisions</td>
          <td id="B47" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D47" class="asset emphasized">0.00%</td>
        </tr>
        <tr>
          <td>Interbank loans</td>
          <td hidden="true"></td>
          <td id="C85" hidden="true">{{ bank.c85 }}</td>
          <td></td>
          {% if bank.year == 0 %}
          <td><input id="E85" name="e85" value="0.0" class="input asd" readonly="true"></td>
          {% elif prev != None %}
          <td><input id="E85" name="e85" value="{{ prev.e85 }}" class="input"></td>
          {% else %}
          <td><input id="E85" name="e85" value="0.0" class="input"></td>
          {% endif %}
          <td style="color:white">____________</td>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <th>Liabilities available</th>
        </tr>
        <tr>
          <th>Capital</th>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td>Deposits</td>
        </tr>
        {% if bank.year == 0 %}
        <tr>
          <td>Initial shareholders funds</td>
          <td id="B87" class="asset">10.0</td>
        </tr>
        {% endif %}
        <tr>
          <td>Start of year</td>
          <td hidden="true"></td>
          <td id="C88" hidden="true">10.0</td>
          <td></td>
          {% if bank.year == 0 %}
          <input hidden="true" id="overrideJVS" value="1"></input>
          {% endif %}
          <td id="E88" class="liability">10.0</td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Cost</td>
          <td hidden="true"></td>
          <td id="C51" hidden="true">1.00%</td>
          <td></td>
          <td id="E51" class="liability emphasized">1.00%</td>
        </tr>
        <tr>
          <td>End of year</td>
          <td hidden="true"></td>
          <td id="C89" hidden="true">{{ bank.c89 }}</td>
          <td></td>
          <td><input id="E89" class="asd liability" name="e89" value="90.0" readonly="true"></td>

        </tr>
        <tr>
          <td>Shareholders</td>
          <td hidden="true"></td>
          <td id="C90" hidden="true">{{ bank.c89 }}</td>
          <td></td>
          <td id="E90" class="liability">10.2</td>
          <td style="color:white">____________</td>
          <td>Interbank</td>
        </tr>
        <tr>
          <td bgcolor="LemonChiffon">Total</td>
          <td hidden="true"></td>
          <td id="C91" hidden="true">100.0</td>
          <td bgcolor="LemonChiffon"></td>
          <td id="E91" class="liability" bgcolor="LemonChiffon">100.0</td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Cost</td>
          <td hidden="true"></td>
          <td id="C54" hidden="true">2.00%</td>
          <td></td>
          <td id="E54" class="liability emphasized">2.00%</td>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <th>Minimum required capital - start of year</th>
          <td hidden="true"></td>
          <td id="C93" hidden="true">5.0</td>
          <td></td>
          <td id="E93" class="liability">5.0</td>
          <td style="color:white">____________</td>
          <td>Shareholders' equity capital</td>
        </tr>
        <tr>
          <th>Excess/free capital</th>
          <td hidden="true"></td>
          <td id="C94" hidden="true">5.0</td>
          <td></td>
          <td id="E94" class="liability">5.0</td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Cost</td>
          <td hidden="true"></td>
          <td id="C57" hidden="true">15.00%</td>
          <td></td>
          <td id="E57" class="liability emphasized">15.00%</td>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td class="emphasized">Loans/deposits</td>
          <td hidden="true"></td>
          <td id="C96" hidden="true">0.00%</td>
          <td></td>
          <td id="E96" class="liability emphasized">0.00%</td>
          <td style="color:white">____________</td>
          <th>Conditions:</th>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td>Required capital/assets</td>
        </tr>
        <tr>
          <th>{{ bank.name }}</th>
          <th colspan="2">Year {{ bank.year }}</th>
          <th colspan="2" id="nextYear3" hidden="true">Year </th>
          <td style="color:white">____________</td>
          <td class="emphasized">- Total assets %</td>
          <td id="B61" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D61" class="asset emphasized">5.00%</td>
        </tr>
        <tr>
          <th>Income statement</th>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">- Risk weighted assets %</td>
          <td id="B62" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D62" class="asset emphasized">5.00%</td>
        </tr>
        <tr>
          <td>Interest income</td>
          <td id="B100" hidden="true">0.9</td>
          <td hidden="true"></td>
          <td id="D100" class="asset">0.9</td>
          <td></td>

        </tr>
        <tr>
          <td>Interest expense</td>
          <td id="B101" hidden="true">0.9</td>
          <td hidden="true"></td>
          <td id="D101" class="asset">0.9</td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">Required cash reserves/deposits %</td>
          <td id="B64" hidden="true">10.00%</td>
          <td hidden="true"></td>
          <td id="D64" class="asset emphasized">10.00%</td>
        </tr>
        <tr>
          <td>Net interest income</td>
          <td id="B102" hidden="true">0.0</td>
          <td hidden="true"></td>
          <td id="D102" class="asset">0.0</td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">Required cash reserves/interbank %</td>
          <td id="B65" hidden="true">5.00%</td>
          <td hidden="true"></td>
          <td id="D65" class="asset emphasized">5.00%</td>
        </tr>
        <tr>
          <td>NIM</td>
          <td id="B103" hidden="true">0.00%</td>
          <td hidden="true"></td>
          <td id="D103" class="asset">0.00%</td>
          <td></td>
          <td style="color:white">____________</td>
          <td>Other income/expenses</td>
        </tr>
        <tr>
          <td style="color:white">1</td>
          <td></td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">Fee income/assets</td>
          <td id="B67" hidden="true">1.50%</td>
          <td hidden="true"></td>
          <td id="D67" class="asset emphasized">1.50%</td>
        </tr>
        <tr>
          <td>Fee income</td>
          <td id="B105" hidden="true">1.5</td>
          <td hidden="true"></td>
          <td id="D105" class="asset">1.5</td>
          <td></td>
        </tr>
        <tr>
          <td>Operating expenses</td>
          <td id="B106" hidden="true">1.3</td>
          <td hidden="true"></td>
          <td id="D106" class="asset">1.3</td>
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">Operating expenses/assets</td>
          <td id="B69" hidden="true">1.30%</td>
          <td hidden="true"></td>
          <td id="D69" class="asset emphasized">1.30%</td>
        </tr>
        <tr>
          <td>Loan loss provision</td>
          <td id="B107" hidden="true">0.0</td>
          <td hidden="true"></td>
          <td id="D107" class="asset">0.0</td>
          <td></td>
        </tr>
        <tr>
          <td>Other income/(expense)</td>
          <td id="B108" hidden="true">{{ bank.b108 }}</td>
          <td hidden="true"></td>
          {% if bank.year == 0 %}
          <td><input id="D108" name="d108" value="-0.2" class="input asd" readonly="true"></td>
          {% elif prev != None %}
          <td><input id="D108" name="d108" value="{{ prev.d108 }}" class="input"></td>
          {% else %}
          <td><input id="D108" name="d108" value="0.0" class="input"></td>
          {% endif %}
          <td></td>
          <td style="color:white">____________</td>
          <td class="emphasized">Tax rate on profits</td>
          <td id="B71" hidden="true">25.00%</td>
          <td hidden="true"></td>
          <td id="D71" class="asset emphasized">25.00%</td>
        </tr>
        <tr>
          <td>Operating income</td>
          <td id="B109" hidden="true">0.2</td>
          <td hidden="true"></td>
          <td id="D109" class="asset">0.2</td>
          <td></td>
        </tr>
        <tr>
          <td>Corporation tax</td>
          <td id="B110" hidden="true">0.1</td>
          <td hidden="true"></td>
          <td id="D110" class="asset">0.1</td>
          <td></td>
        </tr>
        <tr>
          <td bgcolor="LemonChiffon">Net income</td>
          <td id="B111" hidden="true">{{ bank.b111 }}</td>
          <td hidden="true"></td>
          <td bgcolor="LemonChiffon"><input id="D111" class="total asd asset" name="d111" value="90.0" readonly="true"></td>
          <td bgcolor="LemonChiffon"></td>
        </tr>
      </tbody>
    </table>
  </form>
  {% else %}
    <div class="row h-100 container text-center">
      <div class="col-sm-12 my-auto">Congrats you finished the game!
      </div>
    </div>
  {% endif %}
  {% else %}
    <div class="row h-100 container text-center">
      <div class="col-sm-12 my-auto">Please create a bank to start the game
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
